worker_processes 1;


events {
  # max_clients = worker_processes * worker_connections/4
  worker_connections 256;
}

http {
  #gzip setup
  gzip on;
  gzip_http_version 1.1;
  gzip_vary on;
  gzip_comp_level 6;
  gzip_proxied any;
  gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript application/javascript text/x-js;
  gzip_buffers 16 8k;

  sendfile on;
  tcp_nopush on;
  tcp_nodelay on;
  #keepalive_timeout 65;
  types_hash_max_size 2048;

  # --- OWASP secure configuration ----
  # Buffer Overflow Protection
  # Size Limits & Buffer Overflows
  # the size may be configured based on the needs.
  client_body_buffer_size 10240K;
  server_names_hash_bucket_size 64;
  client_header_buffer_size 1k;
  client_max_body_size 204800k;
  large_client_header_buffers 2 1k;
  server_tokens off;
  client_body_timeout 10;
  client_header_timeout 10;
  keepalive_timeout 5 5;
  send_timeout 10;

  proxy_connect_timeout 15;
  {% for port in ports %}
  upstream {{port.container_name}}_{{port.port_container}} {  
    server {{port.container_name}}:{{port.port_container}};
    keepalive_timeout 0;
  }
  {% endfor %}

  # include virtual servers
  {% for port in ports %}
  server {
  #listen 443 ssl default_server;
  listen {{port.port_container}};
  server_name {{port.container_name}}.{{port.port_container}};
  
  #ssl_certificate /app/conf/certificates/pem.crt;
  #ssl_certificate_key /app/conf/certificates/cert.key;

  large_client_header_buffers 32 4096k;

  # --- OWASP secure configuration ----
  # SSL/TLS Configuration
  # SSL protocols TLSv1.2 and higher are allowed. Disabed SSLv3
  ssl_protocols TLSv1.2 TLSv1.3;
  # enables server-side protection from BEAST attacks
  ssl_prefer_server_ciphers on;

  # Disabled insecure ciphers suite. For example, MD5, DES, RC4, PSK
  ssl_ciphers "ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA256:ECDHE-RSA-AES256-SHA:ECDHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES128-SHA256:DHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES256-GCM-SHA384:AES128-GCM-SHA256:AES256-SHA256:AES128-SHA256:AES256-SHA:AES128-SHA:DES-CBC3-SHA:HIGH:!aNULL:!eNULL:!EXPORT:!DES:!MD5:!PSK:!RC4:@STRENGTH";

  # -!MEDIUM:exclude encryption cipher suites using 128 bit encryption.
  # -!LOW:   exclude encryption cipher suites using 64 or 56 bit encryption algorithms
  # -!EXPORT: exclude export encryption algorithms including 40 and 56 bits algorithms.
  # -!aNULL:  exclude the cipher suites offering no authentication. This is currently the anonymous DH algorithms and anonymous ECDH algorithms.
  # These cipher suites are vulnerable to a "man in the middle" attack and so their use is normally discouraged.
  # -!eNULL:exclude the "NULL" ciphers that is those offering no encryption.
  # Because these offer no encryption at all and are a security risk they are disabled unless explicitly included.
  # @STRENGTH:sort the current cipher list in order of encryption algorithm key length.

  # X-Frame-Options is to prevent from clickJacking attack
  add_header X-Frame-Options "SAMEORIGIN";

  # --- OWASP secure configuration ----
  # Limit HTTP Method
  # Only GET, Post, PUT and DELETE are allowed##
  if ($request_method !~ ^(GET|PUT|POST|DELETE)$ ) {
    return 444;
  }
  ## In this case, it does not accept other HTTP method such as HEAD, DELETE, SEARCH, TRACE ##


  location / {
    proxy_http_version 1.1;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Connection "";

    proxy_pass http://{{port.container_name}}_{{port.port_container}};

    #proxy_ssl_certificate_key ${APPDATA}/nginx/nginx.pk;
    #proxy_ssl_certificate ${APPDATA}/nginx/nginx.pem;
    #proxy_ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    #proxy_ssl_ciphers HIGH:!aNULL:!MD5;
    #proxy_ssl_crl ${APPDATA}/crl/revoked.crl;
    #proxy_ssl_trusted_certificate ${APPDATA}/ca/ca.pem;
    #proxy_ssl_verify        on;
    #proxy_ssl_verify_depth  1;
    #proxy_ssl_session_reuse off;
  }
}
 {% endfor %}
}
